name: build and release

on:
  push:
    branches:
      - 'main' 
      
jobs:
  nightly_build:
    runs-on: ubuntu-latest
    
    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true

      - name: Build with Cargo
        run: cargo build --release --all-features

      - name: Prepare binary for release
        run: |
          BINARY_NAME="caps2esc-hjkl-arrow"
          COMMIT_SHA_SHORT=$(echo ${{ github.sha }} | cut -c1-8)
          ARCHIVE_NAME="${BINARY_NAME}-${COMMIT_SHA_SHORT}-x86_64-unknown-linux-gnu.tar.gz"
          
          cd target/release
          
          tar -czf "../${ARCHIVE_NAME}" "${BINARY_NAME}"
          
          mv "../${ARCHIVE_NAME}" "../../"

      - name: Update 'nightly' Release and Upload Asset
        uses: softprops/action-gh-release@v2
        with:
          tag_name: nightly
          name: Nightly Build (${{ github.sha }})
          commitish: ${{ github.sha }} 
          overwrite: true
          prerelease: true
          files: |
            ${{ github.workspace }}/*.tar.gz
